@import '../../variable';

.AreaManager-component {
    position: relative;

    .main-div {
        position: absolute;
        top: 35px;
        width: 100%;
        height: 400px;
    }

    .btn-bars {
        position: absolute;
        top: 45px;
        right: 20px;
        background-color: $color-base ;
        color: white;
        border-radius: 50%;
        padding: 10px;
    }

    .area-btn {
        top: 91px;
        position: absolute;
        padding: 15px;

        .icon-remove {
            font-size: 14px;
            color: black;
        }
    }

    .area-btn-trash {
        top: 137px;
    }


    .areas-list-div {
        position: absolute;
        top: 80px;
        left: 10px;
        min-width: 200px;
        min-height: 250px;
        background-color: white;
    }
}