.UsersSuggestionInput-component {

    .search-users {
        position: absolute;
        top: 0px;
        width: 90%;
    }

    .selected-user {
        position: absolute;
        top: 120px;
    }
}