
.signin-component{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;

    .login{
        max-width: 1000px;
        background-color: whitesmoke;
        padding: 30px 40px;
        border-radius: 10px;

    }
    .my-btn{
        width: 100%;
    }
    .title{
        margin-bottom: 50px;
        text-align: center;
        font-weight: bold;
        pre{
            font-family: inherit;
        }
    }
}