.st0 {
  fill: #808080;
}
.st1 {
  display: none;
}
.st2 {
  display: inline;
}
.st3 {
  fill: #583487;
}
.st4 {
  fill: #6b6b6b;
}
.st5 {
  display: inline;
  fill: #7a7a7a;
}
.st6 {
  clip-path: url(#SVGID_2_);
  fill: #fdcd56;
}
.st7 {
  clip-path: url(#SVGID_4_);
  fill: #f5b945;
}
.st8 {
  clip-path: url(#SVGID_6_);
  fill: #f5b945;
}
.st9 {
  clip-path: url(#SVGID_8_);
  fill: #fdcd56;
}
.st10 {
  fill: #2d2d2d;
}
.st11 {
  fill: #eaeaea;
}
.st12 {
  fill: #f5b945;
}
.st13 {
  fill: #fdcd56;
}
.st14 {
  fill: #f6f6f6;
}
.st15 {
  fill: #8c8984;
}
.st16 {
  fill: #dfdbe2;
}
.st17 {
  fill: #c22026;
}
.st18 {
  opacity: 0.94;
  fill: #dfdee0;
  enable-background: new;
}
.st19 {
  opacity: 0.11;
  fill: #ffffff;
  enable-background: new;
}
.st20 {
  fill: #727272;
}
.st21 {
  clip-path: url(#SVGID_10_);
  fill: #bfbaaf;
}
.st22 {
  clip-path: url(#SVGID_12_);
  fill: #9b9994;
}
.st23 {
  clip-path: url(#SVGID_14_);
  fill: #9b9994;
}
.st24 {
  clip-path: url(#SVGID_16_);
  fill: #bfbaaf;
}
.st25 {
  fill: #9b9994;
}
.st26 {
  fill: #bfbaaf;
}
.st27 {
  fill: #89c053;
}
.st28 {
  fill: #eb5463;
}
.st29 {
  fill: #e2e2e2;
}
.st30 {
  fill: #ffffff;
}
.st31 {
  fill: #d94452;
}
.st32 {
  fill: #3aadd9;
}

.st33 {
  display: inline;
  fill: none;
  stroke: #ffffff;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 5, 15;
}
