.gt0 {
  fill: #ffffff;
}
.gt1 {
  fill: #583487;
}
.gt2 {
  fill: #fa6c51;
}
.gt3 {
  fill: #e8553e;
}
.gt4 {
  display: none;
}
.gt5 {
  display: inline;
}
.gt6 {
  fill: #aaaaaa;
}
.gt7 {
  display: inline;
  fill: #aaaaaa;
}
.gt8 {
  clip-path: url(#SVGID_2_);
  fill: #fdcd56;
}
.gt9 {
  clip-path: url(#SVGID_4_);
  fill: #f5b945;
}
.gt10 {
  clip-path: url(#SVGID_6_);
  fill: #f5b945;
}
.gt11 {
  clip-path: url(#SVGID_8_);
  fill: #fdcd56;
}
.gt12 {
  fill: #2d2d2d;
}
.gt13 {
  fill: #eaeaea;
}
.gt14 {
  fill: #f5b945;
}
.gt15 {
  fill: #fdcd56;
}
.gt16 {
  fill: #f6f6f6;
}
.gt17 {
  fill: #8c8984;
}
.gt18 {
  fill: #dfdbe2;
}
.gt19 {
  fill: #c22026;
}
.gt20 {
  opacity: 0.94;
  fill: #dfdee0;
  enable-background: new;
}
.gt21 {
  opacity: 0.11;
  fill: #ffffff;
  enable-background: new;
}
.gt22 {
  fill: #727272;
}
.gt23 {
  clip-path: url(#SVGID_10_);
  fill: #bfbaaf;
}
.gt24 {
  clip-path: url(#SVGID_12_);
  fill: #9b9994;
}
.gt25 {
  clip-path: url(#SVGID_14_);
  fill: #9b9994;
}
.gt26 {
  clip-path: url(#SVGID_16_);
  fill: #bfbaaf;
}
.gt27 {
  fill: #9b9994;
}
.gt28 {
  fill: #bfbaaf;
}
.gt29 {
  fill: #89c053;
}
.gt30 {
  fill: #eb5463;
}
.gt31 {
  fill: #e2e2e2;
}
.gt32 {
  fill: #d94452;
}
.gt33 {
  fill: #3aadd9;
}

.gt34 {
  display: inline;
  fill: none;
  gtroke: #ffffff;
  gtroke-width: 4;
  gtroke-linecap: round;
  gtroke-linejoin: round;
  gtroke-miterlimit: 10;
  gtroke-dasharray: 5, 15;
}
