.DispatureReport-component {
    background-color: white;
    margin-bottom: 30px;

    border-radius: 5px;



    .showmore {
        display: inline;
        float: left;
        color: #532FC0;
        font-size: 13px;
        cursor: pointer;
    }

    .title {
        color: #171E2B;
        padding: 15px 15px;
    }
}