@import '../../variable';

.Dashboard-component {
    position: relative;
    background-color: whitesmoke;

    .show-more-div {

        z-index: 5;
        padding: 30px 3%;
        position: absolute;
        top: 40px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;

        .close-icon {
            position: absolute;
            top: 10px;
            left: 15px;
            color: whitesmoke;
            cursor: pointer;
        }

        .show-more-subdiv {
            position: absolute;
            width: fit-content;
            background-color: white;
            padding: 20px;
            max-width: 94%;
            min-width: 70%;
            overflow: auto;
            border-radius: 5px;
        }
    }
}