@import '../../../variable';

.TripMissionDetails-component {
    position: relative;
    background-color: white;
    z-index: 2;
    padding: 40px 15px;

    .icon-phone {
        color: $color-base;
        cursor: pointer;
        padding-right: 15px;
    }

}