
@import '../../variable';
.profile-component{
    position: relative;
    z-index: 2;
    .card{
        border-radius: 5px;
        padding: 20px;
    }
    .mb-3{
        position: relative;
        padding-right: 15px;
        padding-top: 5px;
    }
    .page-title {
        margin-left: 25px;
        display: inline;
        cursor: pointer;

        i:hover {
            color: blue;
        }

        .active {
            color: $color-base;
        }
    }

}