.PassengerServiceRequest-page {
    .main-div {
        position: absolute;
    }

    .delete-icon{
        position: absolute;
    }
    .loc-search {
        position: absolute;
        top: 20px;
    }
}