.page403-component {

    margin-top: 100px;
   
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .codeError {
        color: #facf5a;
        text-align: center;
        font-family: 'Raleway';
        font-size: 90px;
        font-weight: 800;
    }

    .text {}

}