@import '../../../variable';
.DriverMissionServiceItem-component {
    .div-comments {
        .close-icon {
            position: absolute;
            bottom: 190%;
            left: 30px;
            color: black;
            z-index: 100;
            cursor: pointer;
        }

    }
    .icon-phone {
        color: $color-base;
        cursor: pointer;
        padding-right: 15px;
    }
    .my-btn {
        margin-left: 15px;
    }
}