@import '../../../variable';

.report-component {

    font-size: 14px;
    position: relative;

    .details-divReport {
        /* z-index: 2; */
        /* min-width: 300px; */
        /* min-height: 200px; */

        position: relative;
        top: 10px;
        /* background-color: whitesmoke; */
        /* left: 15px; */


        .detailsReport {
            position: relative;
            top: 10px;
            left: 15px;
            padding: 25px;
            border: 1px solid whitesmoke;

            .close {
                position: absolute;
                top: 10px;
                left: 15px;
                color: $color-base;
                cursor: pointer;
            }
        }
    }

    .form-select:focus {
        box-shadow: none;
    }

    .back-icon {
        position: absolute;
        top: 10px;
        left: 40px;
        color: $color-base;
        cursor: pointer;
    }

    .form-control,
    .btn {
        box-shadow: none;
        /* Remove the box shadow */
    }

    .datetime-input {
        font-size: 14px;
    }

    .datagrid {
        background-color: white;
        padding: 15px;
    }

    .filter-items {
        padding: 15px 0px;

        input {
            margin-top: 5px;
        }

        .btn-search {
            width: 100%;
            margin-top: 5px;
            border: 1px solid #eee;
            color: gray;
            font-size: 14px;

            i {
                color: gray;
            }


        }

        .btn-search:hover {
            color: #A1E2D9;

            i {
                color: #A1E2D9;
            }
        }
    }


}