.useCreateTripModal-component{
    .regist-btn{
        position: absolute;
        bottom: 10px;
        left: 90px;
    }

    .search-default-text{
       display: flex;
       align-items: center;
       justify-content: center;
        height: 450px;
        width: 100%;
    }
}