@import '../../../../variable';

.VehicleItem-component {
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 13px;

    .name {
        color: $color-base;
        padding-right: 15px;
    }
}

.VehicleItem-component:hover {
    cursor: pointer;
    background-color: rgb(239 244 251);
}