@import '../../../variable';

.WordProcessor-component {
    padding: 10px 0px;
    font-family: 'Tahoma', sans-serif;
    direction: rtl;
    text-align: right;

    .print-icon {
        color: $color-base;
        font-size: 16px;
        cursor: pointer;
    }

    .eye-icon {
        color: $color-base;
        cursor: pointer;
        margin-right: 15px;
    }

    .myPrint {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 20px;
        top: 15%;
        width: 90%;
        height: 60vh;
        direction: rtl;
        text-align: right;

        .close-icon {
            position: absolute;
            color: $color-base;
            cursor: pointer;
            top: 20px;
            left: 20px;
        }

        .word-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        .upload-img {
            background-color: white;
            width: -moz-fit-content !important;
            width: 90%;
            height: 90%;
            overflow: scroll;
            /* height: auto; */
            margin: 20px 30px;
            border-radius: 5px;

            .print-icon {
                position: absolute;
                color: #0d6efd;
                font-size: 16px;
                cursor: pointer;
                top: 15px;
                right: 15px;
            }
        }
    }
}