@import '../../../variable';

.RegisterTarefeAvarez-component {
    position: relative;
    margin-bottom: 40px;

    .back-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $color-base;
        cursor: pointer;
    }

    .form-group {
        padding: 10px 15px;

        p {
            font-size: 14px;
        }

        input {
            // max-width: 300px;
        }
    }

}