* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.profileHeader {
    font-size: 24px;
    font-weight: bold;
}

.boxContainer {
    width: 450px !important;
    height: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    transition: 0.2s;
    background-color: #f1f3f5 !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.formContainer {
    display: flex;
    padding: 1rem;
}

.formContainer h4:nth-child(2) {
    text-align: right;
    font-size: 16px !important;
}

.formText {
    display: inline-block;
    text-align: right;
    margin-bottom: 4px;
    font-size: 14px !important;
    font-weight: 500;
    color: #212529;
    word-break: break-word;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}

.inputWrapper {
    border: 1px solid #ced4da;
    background-color: #fff;
    transition: border-color 100ms ease;
    font-family: iranNormal;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    color: #000;
    display: block;
    text-align: right;
    border-radius: 8px !important;
}

.inputWrapper .input {
    border-radius: 8px;
}

.button {
    margin-top: 1rem;
    width: 100% !important;
}

.dropzone {
    height: 100px;
    width: 200px;
}

input {
    border-radius: 8px !important;
}
