@import '../../../../variable';

.RequestManagment-component {

    .modal-content {
        z-index: 30;
    }

    .link {
        padding-right: 15px;
        cursor: pointer;
    }

    .active-tab {
        color: $color-base ;
        border-bottom: 1px solid $color-base;
    }

    .no-active {
        color: gray;
    }

    .lbl-text {
        padding: 25px 5px;
    }

    .my-btn {
        padding: 10px 25px;
        margin-top: 20px;
        margin-bottom: 20px;

        .car-icon {
            padding-left: 10px;
        }
    }

    .my-btn:hover {
        color: whitesmoke;
        cursor: pointer;
    }
}