@font-face {
  font-family: 'IranSans_Light';
  src: url('./fonts/IRANSansWeb_Light.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'IranSans_Bold';
  src: url('./fonts/IRANSansWeb_Bold.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}